@media(max-width:768px){
   /* MAIN */
/* .container{
   max-width: 400px;
} */
   .button{
      max-width: 100%;
      width: 100%;
   }
   .inner-content__text>.button--transparent-color{
      max-width: 100%;
   }

   .inner-content__text>.regular-text--white-color{
      width: 100%;
      max-width: 100%;
      text-align: center;
   }

   .header-text.main-title--white-color:after{
      left: 50%;
      transform: translate(-50%, 0);
   }

   .h4-title{
      font-size: 14px;
   }

   .main-title {
      font-size: 24px;
   }

   .about-us .main-title {
      font-size: 18px;
   }

   .main-title + .regular-text--gray-color{
      font-size: 13px;;
   }

   .regular-text {
      font-size: 14px;
      line-height: 16px;
      text-align: center;
   }

   .regular-text--white-color {
      margin: 50px 0;
   }


   /* HEADER */
   .header{
      padding-left: 20px;
      padding-right: 20px;
   }
   .nav ul{
      display: none;
   }

.header__container{
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding-right: 35px;
}

   .header__burger-menu-icon--wrapper{
      display: block;
      width: 24px; 
      height: 18px;
   }

   .header__burger-menu-icon{
      fill: #fff;
   }

   /* MAIN BANNER */
   .main-banner{
      padding: 150px 15px 50px;
   }

   .main-banner__inner-content{
      flex-direction: column;
      /* align-items: center;
      justify-content: center; */
   }

   .inner-content__logo--wrapper{
      display: none;
   }

   .header-text{
      max-width: 100%;
      width: 100%;
      margin: 0;
      text-align: center;
   }

   .inner-content__text{
      max-width: 100%;
      width: 100%;
      padding: 0;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
   }

   .inner-content__text>.button--transparent-color{
      margin-bottom: 55px;
   }

   .inner-content__form-container{
      width: 100%;
      align-self: stretch;
   }



   /* SOCIAL */
   .social{
      padding: 50px 15px 45px;
   }
   
   /* .social__list-item--wrapper{
      width: 26px;
      height: 26px;
   } */

   .social__list-icons{
      justify-content: center;
   }

   .social__icon-item, .footer__icon-item{
      width: 26px;
      height: 26px;
   }

   .social__content--wrapper{
      flex-direction: column;
      align-items: center;
   }

   .h4-title{
      margin-bottom: 35px;
      text-align: center;
   }

   .social .regular-text{
      text-align: center;
   }

   .social__descr{
      margin-bottom: 40px;
   }

   /* TABS */
   .tabs {
      padding-bottom: 55px;
      padding-top: 40px;
   }


   .tab-content__tab-descr{
      width: 100%;
   }

   .tab-content__tab-img--wrapper{
      display: none;
   }

   .tabs-list__tab{
      width: calc(100% / 3 - 3px );
      padding: 10px 30px;
   }

   .tab-descr__title{
      font-size: 18px;
      line-height: 25px;
      text-align: center;
   }

   .tab-descr__text{
      font-size: 13px;
      line-height: 15px;
      margin-bottom: 30px;
   }

   .tab-content__tab-descr>.button--red-color{
      max-width: 100%;
   }

   .tab-content__tab-descr{
      padding: 40px 20px 30px 25px;
   }

   /* ABOUT */
   .skills-list__skill-item{
      width: 100%;
   }

   .skills-list__skill-item>.regular-text{
      max-width: 285px;
   }

   .skills-list{
      margin-top: 50px;
      justify-content: center;
      align-items: center;
   }

   .skills-list__skill-item {
      margin: 10px;
   }

   /* PRICING */
   .pricing-offer__main-text {
      font-size: 18px;
   }

   .pricing-offer__main-text--high{
      font-size: 24px;
   }

   .pricing-offer__link--wrapper{
      min-width: 100%;
   }

   .pricing-offer__link--wrapper:not(.pricing-offer--wrapper:last-child){
      /* width: 100%;
      max-width: 100%;
      min-width: 100%; */
      margin-bottom: 30px;
   }

   .pricing-offer--wrapper{
      justify-content: center;
      align-items: center;
   }

   /* REVIEWS */
   .reviews{
      padding-top: 25px;
      padding-bottom: 30px;
   }

   .info__descr>.regular-text{
      font-size: 13px;
   }

   /* Slider */
   .reviews__slider{
      min-width: 0;
   }

   .slick-list{
      overflow: hidden;
   }

   .slick-track{
      display: flex;
   }

   .reviews__slider .slick-dots{
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 0 auto;
      margin-top: 35px;
   }

   .reviews__slider .slick-dots li{
      margin: 0 50px;
   }

   .reviews__slider .slick-dots li:first-child{
      margin-left: 0;
   }

   .reviews__slider .slick-dots li:last-child{
      margin-right: 0;
   }

   .reviews__slider .slick-dots button{
      font-size: 0;
      width: 10px;
      height: 10px;
      background-color: transparent;
      border-radius: 50%;
      border: 1px solid #86878B;
   }

   .reviews__slider .slick-dots li.slick-active button{
      background-color: #86878B;
      border: 1px solid #86878B;
   }

   .reviews__customers-list{
      flex-wrap: wrap;
   }

   .customer__dilogue-window{
      width: 100%;
      padding: 50px 20px;
   }

   .customers-list__customer{
      transition: all 0.3s ease 0s;
      opacity: 0;
      width: 100%;
   }

   .customers-list__customer.slick-center{
      opacity: 1;
   }
   
   /* BANNER */
   .banner{
      padding-top: 50px;
      padding-bottom: 60px;
   }

   .banner .button{
      margin-top: 20px;
   }

   /* CONTACT */
   .contact{
      padding-top: 50px;
      padding-bottom: 40px;
   }

   .form__part{
      width: 100%;
   }

   .message-input--wrapper{
      height: 185px;
      margin-top: 50px;
   }

   /* FOOTER */
   .footer{
      padding-top: 40px;
      padding-bottom: 50px;
   }
}