.contact{
   /* padding: 110px 0 50px; */
   padding-top: 110px;
   padding-bottom: 50px;
}

/* .contact>.button{
   margin: 0 auto;
} */

.contact__form{
   margin: 90px -15px 0;
}

.contact__form-inputs--wrapper{
   display: flex;
   margin-bottom: 50px;
   flex-wrap: wrap;
}

.form__part{
   width: calc(50% - 30px);
   margin: 0 15px;
}

.form__input--wrapper{
   position: relative;
   margin-bottom: 50px;
}

.form__part>.last-wrapper{
   margin-bottom: 0;
}

.contact__label{
   position: absolute;
   left: 0;
   top: 0;
   font-family: 'Open Sans';
   font-size: 14px;
   color: #BDBDBD;
   transition: transform 0.3s;
}

.contact__label:hover{
   cursor: text;
}

.contact__input{
   width: 100%;
   /* position: absolute;
   left: 0;
   top: 0; */
} 

.message-input--wrapper{
   display: flex;
   flex-direction: column;
   /* justify-content: flex-end; */
   margin-bottom: 0;
}

#message{
   height: 100%;
   resize: none;
   /* wrap: hard; */
}

.contact__form-button{
   display: block;
   margin: 0 auto;
}

.contact__input:focus ~ .contact__label, .contact__input:not(:placeholder-shown) ~ .contact__label{
   transform: translateY(-20px);
   color: #EC7979;
}

.contact__input:focus{
   border-color: #EC7979;
}


