.footer{
   background-color: #000;
   padding-top: 35px;
   padding-bottom: 30px;
}

.footer__icon-item--wrapper{
   display: flex;
   justify-content: center;
   align-items: center;
   margin: 0 15px;
}

.footer__list-icons{
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
}

.footer__copyright{
   font-size: 18px;
   color: rgba(255, 255, 255, 0.5);
   text-align: center;
   margin-top: 30px;
}

.footer__icon-item{
   fill: none;
   width: 55px;
   height: 55px;
}

.footer__icon-item path{
   fill: #CCCCCC;
}



