@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&family=Raleway:wght@400;500;700&display=swap');

/* всегда это использовать */
* {
   box-sizing: border-box;
   margin: 0;
   padding: 0;
   text-decoration: none;
   font-family: 'Raleway', sans-serif;
}

/* body,
html {
   margin: 0;
   padding: 0;
} */

ul,
ol {
   list-style: none;
   /* margin: 0;
   padding: 0; */
}

a {
   /* text-decoration: none; */
   display: block;
   color: #000;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
   /* margin: 0;
   padding: 0; */
   font-weight: normal;
   font-style: normal;
}

/* конец использования */

/* глобальные стили */
.container {
   max-width: 1200px;
   margin: 0 auto;
   padding: 0 15px;
}

.main-title {
   font-size: 36px;
   text-align: center;
   text-transform: uppercase;
}

.main-title--black-color{
   color: #000;
   position: relative;
   padding-bottom: 50px;
}


.main-title--black-color:after{
   content: '';
   position: absolute;
   display: block;
   height: 1px;
   width: 170px;
   background-color: #EC7979;
   bottom: 0;
   left: 50%;
   transform: translate(-50%, 0);
}

.main-title--white-color{
   color: #fff;
   position: relative;
   padding-bottom: 60px;
}

.main-title--white-color:after{
   content: '';
   position: absolute;
   display: block;
   height: 1px;
   width: 170px;
   background-color: #fff;
   bottom: 0;
   left: 50%;
   transform: translate(-50%, 0);
}

.header-text.main-title--white-color:after{
   left: 0%;
   transform: translate(0);
}

/* .secondary-title {
   font-size: 18px;
   text-align: center;
   color: #86878B;
} */

.regular-text {
   font-size: 18px;
   line-height: 21px;
}

.regular-text--center-align {
   text-align: center;
}

.regular-text--gray-color{
   color: #86878B;
}

.main-title + .regular-text--gray-color{
   margin-top: 45px;
}

.regular-text--black-color{
   color: #000;
}

.regular-text--white-color{
   color: #fff;
   margin-top: 60px;
   margin-bottom: 75px;
}

/* .secondary-title--white-color{
   color: #fff;
   margin-bottom: 75px;
} */

/* .separator {
   margin: 50px auto 45px auto;
   height: 1px;
   width: 170px;
}

.separator--red-color {
   background-color: #EC7979;
}

.separator--white-color {
   background-color: #fff;
} */

.button {
   width: 270px;
   height: 58px;
   font-family: 'Open Sans', sans-serif;
   font-weight: 600;
   font-size: 18px;
   border-style: none;
   margin-left: 30px;
   text-align: center;
   padding: 15px 0;
   transition: 0.3s;
}

.button:hover {
   cursor: pointer;
}

.button--red-color {
   background-color: #EC7979;
   color: #fff;
}

.button--red-color:hover {
   background-color: #AB4949;
   color: #fff;
}

.button--red-color:active {
   box-shadow: inset 0px 0px 10px 0px #AB4949;
   background-color: #EC7979;
   color: #fff;
}

.button--transparent-color{
   background-color: transparent;
   color: #fff;
   border: 2px solid #fff;
}

.button--transparent-color:hover{
   /* background-color: rgba(255, 255, 255, 0.3); */
   border-color: #EC7979;
   color: #EC7979;
   cursor: pointer;
}

.button--transparent-color:active{
   /* background-color: rgba(255, 255, 255, 0.3); */
   border-color: #AB4949;
   background-color: #AB4949;
   color: #fff;
   cursor: pointer;
}

.h4-title{
   font-family: 'Open Sans', sans-serif;
   font-weight: 700;
   font-size: 24px;
   color: #333;
   margin-bottom: 45px;
}