.main-banner{
   background: url("../img/main-banner/bg-city-main-banner.png") center/cover no-repeat;
   padding: 305px 0 185px;
   position: relative;
}

.main-banner:after{
   content: '';
   display: block;
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   background-color: rgba(0, 0, 0, 0.5);
}

.main-banner__inner-content{
   display: flex;
   position: relative;
   z-index: 1;
   flex-wrap: wrap;
   margin: 0 -30px;
}

.inner-content__text{
   /* width: 670px; */
   width: calc(100% - 470px - 60px - 60px);
   margin: 0 30px;
   /* padding-right: 65px; */
}

.inner-content__form--wrapper{
   width: 470px;
   height: 450px;
   background-color: rgb(161, 161, 161, 0.6);
   /* padding-left: 65px; */
   margin: 0 30px;
}

.inner-content__form{
   width: 470px;
   height: 450px;
   background-color: pink;
}

.header-text{
   font-weight: 500;
   font-size: 48px;  
   text-transform: uppercase;
   /* margin: 85px 0 65px; */
   margin-top: 85px;
}

.header-text.main-title--white-color:after{
   margin-left: 0;
   margin-top: 65px;
}

.inner-content__text>.regular-text--white-color{
   max-width: 235px;
}