.social{
   background-color: #F8EFEF;
}

.social__content--wrapper{
   padding: 20px 170px;
   display: flex;
   flex-wrap: wrap;
   justify-content: space-between;
}

.social__list-icons{
   display: flex;
   align-self: center;
}

.social__list-item--wrapper{
   display: flex;
   justify-content: center;
   align-items: center;
   width: 70px;
   height: 70px;
   margin: 0 15px;
}

.social__icon-item{
   fill: none;
}

.social__icon-item path{
   fill: #CCCCCC;
}