.tabs {
   padding-bottom: 110px;
   padding-top: 100px;
}

.tabs__tabs-list {
   position: relative;
   top: 1px;
}

.tabs-list__tab:not(.selected-tab):hover {
   cursor: pointer;
   /* text-decoration: underline; */
}

.tabs-list__tab:hover,
.selected-tab {
   position: relative;
   z-index: 2;
   border-top: 1px solid #C6CBCD;
   border-left: 1px solid #C6CBCD;
   border-right: 1px solid #C6CBCD;
   background-color: #fff;
}

.tabs-list__tab {
   display: inline-block;
   border-radius: 5px 5px 0 0;
   border-bottom: none;
   width: 205px;
   text-align: center;
   padding: 10px 0;
}

/* .selected-tab:hover {
   cursor: default;
   text-decoration: none;
} */

.tab__header-text {
   font-family: 'Open Sans', sans-serif;
   font-size: 14px;
}

.tabs__tab-content {
   border: 1px solid #C6CBCD;
   display: flex;
}

.tab-content__tab-descr {
   width: calc(100% - 470px);
   padding: 55px 64px 50px 66px;
}

.tab-content__tab-img--wrapper {
   width: 470px;
   /* height: 500px; */
}

.tab-content__tab-img {
   max-width: 100%;
   max-height: 100%;
   display: block;
}

.tab-descr__title {
   font-family: 'Open Sans', sans-serif;
   font-weight: 700;
   font-size: 30px;
   text-align: center;
   margin-bottom: 70px;
}

.tab-descr__text {
   margin-bottom: 30px;
}

.tab-descr__text--wrapper {
   margin-bottom: 15px;
}